.navbar-lewagon {
  justify-content: center;
  padding: 30px;
  background: white;
  text-align: center;
  display: flex;
  justify-content: center;
  font-size: 30px;
  font-family: 'Montserrat Subrayada', sans-serif;
}

.navbar-lewagon i {
  margin-right: 10px;
}
.navbar-lewagon a {
  text-decoration: none;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

